{:paths ["src" "resources"]
 :deps  {meander/epsilon        {:local/root "/home/ribelo/code/meander"}
         com.taoensso/encore    {:mvn/version "3.10.1"}
         com.taoensso/timbre    {:mvn/version "5.1.2"}
         thheller/shadow-cljs   {:mvn/version "2.11.15"}
         edn-query-language/eql {:mvn/version "1.0.2"}
         juji/editscript        {:mvn/version "0.5.7"}}
 :aliases
 {:test  {:extra-paths ["test"]}
  :run-tests
  {:extra-paths ["test"]
   :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                           :sha     "dd6da11611eeb87f08780a30ac8ea6012d4c05ce"}}
   :main-opts  ["-m" "cognitect.test-runner"]
   :exec-fn    cognitect.test-runner.api/test}


  :cljs  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.11.15"}}}
  :bench {:extra-deps {datascript/datascript {:mvn/version "1.0.7"}}}}}
